// COLORS
$color-red-1: #ff7730;
$color-orange-1: #ffb900;

$color-light-green-1: #7ed56f;
$color-green-1: #28b485;

$color-primary-blue: #2998ff;
$color-secondary-blue: #5643fa;
$color-tertiary-blue: #0E182A;

$color-blueGray-dark-1: #210c44;

$color-primary-bg: #171717;
$color-secondary-bg: #211f1f;
$color-tertiary-bg: #2f2c2c;

$color-primary-1: #b79770;

$color-gray-1: rgb(238, 246, 205);
$color-gray-2: rgb(235, 245, 192);
$color-gray-3: #dddddd;


$color-white: #fff;
$color-black: #000;

$color-textSelect-1:  #06b40f; 

// FONT-SIZE
$default-font-size: 1.3rem;
$medium-font-size: 2.2rem;

// FONT-FAMILY
$primary-font: 'Tai Heritage Pro';
$handwriting-font-1: 'Dancing Script', normal;
$special-font-1: 'Special Elite';

// SHADOWs
$shadow-black-light: 0 1rem 2rem rgba($color-black, .15);
$shadow-black-medium: 0 1.5rem 4rem rgba($color-black, .25);

// Border Radius
$border-radius-small: 5px;