
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    z-index: -1;
    // opacity: .35;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        /* The element will fill the entire parent and still keeping it's aspect-ratio */
        object-fit: cover;
    }
}