.formItems {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2/3;

    justify-self: center;
    justify-content: center;

    width: 36rem;
    
    @include respond(phone-bg) {
        grid-row: 3/4;
        width: 31rem;
        }


    &__card {
        display: grid;
        row-gap: 2rem;
        background-color: $color-secondary-bg;
        padding: 1.8rem;
        border-radius: 2%;

        &__img {
            width: 100%;
            grid-row: 1 / 2;
            z-index: 1;  
            &:hover {
                transform: scale(1.1);
                transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
              } 
        }

        &__input {

            font-size: $default-font-size;
            font-family: inherit;
            color: $color-black;
            padding: .5rem 1rem;
            border-radius: $border-radius-small;
            background-color: $color-gray-3;
            border: none;
            border-bottom: 3px solid transparent;
            display: block;
            transition: all .3s;
    
            &:focus {
                outline: none;
                box-shadow: $shadow-black-light;
                border-bottom: 3px solid $color-green-1;
            }
    
            &:focus:invalid {
                border: 3px solid red;
            }
        
            &::-webkit-input-placeholder {      
                color: $color-gray-1;
            }
        }

        &__btnBox {
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content, 1fr));;

            &--btn1{
                grid-column: 1/2;
                width: 60%;
                border-radius: 0%;
                color: $color-black;
            }

            &--btn2{
                grid-column: 2/3;
                width: 30%;
                color: $color-black;
            }

        }
    }

    &__dataDisplay {

        background-color: $color-secondary-bg;
        padding: 1.8rem;
        border-radius: 5%;

        
        &__text {
            padding-left: 2rem;
            font-size: 1.8rem;
            color: $color-primary-blue;
            // color: $color-white;
        }

    }

}